<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CREV</key>
	<array/>
	<key>Config file (difficulty / globals)</key>
	<string></string>
	<key>DoContact needs guards</key>
	<string></string>
	<key>Random global stuff in DoContact and Spawner</key>
	<string></string>
	<key>Protocol for makeLab selfInit</key>
	<string></string>
	<key>   </key>
	<string></string>
	<key>DESIGN</key>
	<array/>
	<key>have boxes laugh at you once you die</key>
	<string></string>
	<key>Score display as option?</key>
	<string></string>
	<key>Add top10 with names?</key>
	<string></string>
	<key>game mode.. .two yellow boxes??</key>
	<string></string>
	<key>different shapes?</key>
	<string></string>
	<key>powerups / attacks?</key>
	<string></string>
	<key>challenge and cheat mode -- show icons next to hiscores</key>
	<string></string>
	<key>black bar with g.score label, and joystick underneath?</key>
	<string></string>
	<key>  </key>
	<string></string>
	<key>TODO</key>
	<array/>
	<key>Add pause feature (with timer)</key>
	<string></string>
	<key>Session hiscores</key>
	<string></string>
	<key>fast-fall mode (but less blocks)</key>
	<string></string>
	<key>Auto-pause </key>
	<string></string>
	<key>Add win caption to failscene on new HS</key>
	<string></string>
	<key>GameCenter</key>
	<string></string>
	<key>In-app menu</key>
	<string></string>
	<key> </key>
	<string></string>
	<key>Options menu (with colors and stuff)</key>
	<string></string>
	<key>Eye animations</key>
	<string></string>
	<key>Death animation</key>
	<string></string>
	<key>Color stride animation</key>
	<string></string>
	<key>    </key>
	<string></string>
	<key>FIXME</key>
	<array/>
	<key>horizontal doublebox hit still kills</key>
	<string></string>
	<key>fix scoremode</key>
	<string></string>
	<key>fullmode + pause = crash</key>
	<string></string>
	<key>--&gt;&gt;need to actually delete the whole &quot;box&quot; even if it is 3+ long</key>
	<string></string>
</dict>
</plist>
